.priceFilterContainer {
  border: 2px solid #333333;
  border-radius: 10px;
  margin: 30px 0;
  padding: 16px;
  background-color: var(--bg--grey, #2b2b2b);
}

.priceFilterTitle {
  color: var(--primary--400, #fdd16c);
  font-size: 16px;
  margin-bottom: 25px;
  margin-top: 0;
}

.priceInputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  gap: 10px;
}

.priceInput {
  flex: 1;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  text-align: center;
  height: 32px;
  width: 85px;
}

.priceSeparator {
  color: var(--white, #ffffff);
  font-size: 16px;
  margin: 0 5px;
}

.filterButton {
  width: 100%;
  height: 38px;
  padding: 10px;
  background-color: var(--primary--400, #fdd16c);
  color: #f6f6f6;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.filterButton:hover {
  background-color: var(--primary--600, #e6c068);
}

@media (max-width: 768px) {
  .priceFilterContainer {
    margin: 20px 0;
    padding: 12px;
  }

  .priceFilterTitle {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .priceInputContainer {
    margin-bottom: 20px;
    gap: 8px;
  }

  .priceInput {
    padding: 6px 10px;
    font-size: 12px;
    height: 28px;
    width: 70px;
  }

  .priceSeparator {
    font-size: 14px;
  }

  .filterButton {
    height: 34px;
    font-size: 14px;
    padding: 8px;
  }
}